@model DocumentEditing.Domain.Contracts.ViewModels.AddUserToProjectModel

@{
    ViewData["Title"] = "AddMemberToProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Adding new member</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <h4>Add user</h4>
        <form asp-action="AddUserToProject">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input hidden asp-for="ProjectId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Member" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ViewProject" asp-route-projectId="@Model.ProjectId">Back to Project</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
